.bookMark {
  @apply absolute right-4 top-[-16px]
}

.bookMark-enter {
  transform: translateY(-50px);
}
.bookMark-enter-active {
  transform: translateY(0px);
}
.bookMark-exit {
  transform: translateY(0px);
}
.bookMark-exit-active {
  transform: translateY(0px);
}

.test-enter {
  transform: translateY(-50px);
}
.test-enter-active {
  transform: translateY(0px);
}
.test-exit {
  transform: translateY(0px);
}
.test-exit-active {
  transform: translateY(0px);
}